@charset "UTF-8";
@import url(https://fonts.googleapis.com/earyaccess/notosansjapanese.css);

a {
  color: #000;
  text-decoration: none;
}
.container{
  max-width: 1080px;
  padding: 0;
  margin: 0 auto;
}

/* ヘッダー */
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header > .container {
  height: 100px;
  display: flex;
  align-items: center;
  max-width: none;
  padding: 0 143px;
}

/* ロゴ */
.area_logo_head .logo {
  display: flex;
  align-items: center;
}
.area_logo_head img{
  height: 42.29px;
  vertical-align: bottom;
}
.area_logo_head p{
  display: inline-block;
  font: bold 31px/1em 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin-left: 10.9px;
}

/* ヘッダーナビ */
.nav_header {
  margin: 0 0 0 auto;
}
.list_nav_header{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 -27.8px;
}
.list_nav_header > li {
  padding: 0 27.8px;
}
.list_nav_header a {
  color: #000;
  font: bold 16px/1em 'Arial',sans-serif;
}
.btn{
  font: bold 16px/1em 'Arial',sans-serif;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 18.5px;
  background: #fff;
  border: #000 solid 2px;
  border-radius: 4px;
}
.btn:hover{
  background: #000;
  color: #fff;
}

/* トップビュー */
.area_top_view {
  background: url(../images/bg/bg_view.jpg) no-repeat bottom center;
  background-size: cover;
  margin-top: 100px;
}
.area_top_view > .container{
  height: 750px;
}
.area_top_view .ttl{
  display: inline-block;
  color: #fff;
  font: bold 68px/1em 'Arial',sans-serif;
  letter-spacing: 0.035em;
  width: 580px;
  height: 184px;
  margin: 0;
  text-align: center;
  position: relative;
  top: 525px;
}

/* エリア_シングル */
[class*="area"][class*="single"]{
  margin-top: 93.3px;
}

/* ヘッド */
.head_single{
  text-align: center;
  width: 300px;
  height: 80px;
  display: inline-block;
  position: relative;
  top: 25.5px;
}
.head_single .ttl{
  font: bold 33px/1em 'Arial',sans-serif;
  width: 300px%
  height: 40px;
}
.head_single .subttl {
  font: 20px/1em 'Arial',sans-serif;
  width: 100%;
  height: 50%;
}

/* 2分割レイアウト */
.layout_2_div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
}
.layout_2_div > div {
  width: 50%;
  padding: 0 40px;
}

/* テキスト_シングル */
.text_single .ttl {
  font: bold 31px/1em 'Arial',sans-serif;
  margin-bottom: 53px;
}
.text_single .description {
  font: 31px/1em 'Arial',sans-serif;
}

/* 項目１ */
.area_1_single .container {
  display: flex;
  height: 406px;
}

.area_1_single .scroll {
  width: 690px;
  height: 355px;
  border: #000 solid 1px;
  overflow: scroll;
  display: inline-block;
  margin-left: 90px;
  padding-top: 44px;
  position: relative;
  top: 25.5px
}
.scroll ul li {
  font: 20px/1em 'Arial',sans-serif;
  margin-bottom: 42px;
}

.scroll ul li .date {
  color: gray;
  padding-left: 104.7px;
  padding-right: 223px;
}

.scroll ul li .text {
  font-weight: bold;
}

/* 項目２ */
.bg_black{
  color: #fff;
  background-color: #000;
}
.area_2_single .container {
  height: 890px;
}
.area_2_single .body_single .body_ttl {
  display: inline-block;
  font: bold 31px/1em 'Arial',sans-serif;
  position: relative;
  top: -40.5px;
  left: 300px;
}
.video iframe {
  width: 100%;
  height: 700px;
  padding-bottom: 79px;
}

/* 項目３ */
.area_3_single  img {
  width: 425px;
  height: 524px;
}

.area_3_single .text_single {
  padding-right: 0;
  font: 31px/1em 'Arial',sans-serif;
  letter-spacing: 0.045em;
}

/* フッター */
footer > .container{
  padding: 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* snsリスト */
.list_sns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -10px;
}
.list_sns > li {
  list-style: none;
  padding: 0 10px;
}
.list_sns a {
  display: block;
  width: 43px;
  height: 43px;
  background: #000;
  border-radius: 50%;
  position: relative;
}
.list_sns a:before {
  content: "";
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list_sns .twitter a:before {
  background: url(../images/ico/ico_sns_twitter.svg);
}
.list_sns .github a:before {
  background: url(../images/ico/ico_sns_github.svg);
}
.list_sns .tumbler a:before {
  background: url(../images/ico/ico_sns_tumbler.svg);
}
.copyright {
  font: 300 25px/1em 'Arial',sans-serif;
  margin: 15px 0 0;
}
